In [1]:
import scipy as sp
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
train = pd.read_csv('csv_files/train.csv')
train = train.drop(labels=['OutcomeSubtype', 'DateTime', 'AnimalID'], axis=1)

In [14]:
train['Adopted'] = ''

for rowcount in train.index:
    if train.OutcomeType[rowcount] == 'Return_to_owner' or train.OutcomeType[rowcount] == 'Adoption':
        train['Adopted'][rowcount] = 'Y'
    else:
        train['Adopted'][rowcount] = 'N'

In [15]:
dogs = train[train.AnimalType == 'Dog']
dogs = dogs.dropna(subset=['Name', 'OutcomeType'])
cats = train[train.AnimalType == 'Cat']
cats = cats.dropna(subset=['Name', 'OutcomeType'])

In [16]:
dog_split_by_yes_no = pd.DataFrame(dogs.groupby('Adopted').Name.value_counts())

In [17]:
dog_split_by_yes_no.head()

                   0
Adopted Name
N       Bella     28
        Max       25
        Charlie   22
        Rocky     22
        Princess  20

In [26]:
pd.pivot_table(dogs, index='Name', values='Adopted', aggfunc='sum')

Name
 Joanie                                         Y
 Mario                                          N
'Stache                                         Y
007                                             Y
3Buster                                         Y
Abbey                                           Y
Abbott                                          Y
Abby                         NYYYYYYYYYYNYYYYNYYY
Abe                                             Y
Abel                                           YY
Abigail                                    YYYNYY
Ace                              NYYYYYNYNYYNNYYY
Ace Regalado                                    Y
Achado                                          Y
Achilles                                   YYNNNY
Action                                         YN
Ada                                             Y
Adam                                            Y
Adara                                           N
Addie                                           Y
Addison                                       YYY
Addy                                           YY
Adelaide                                        Y
Adele                                           Y
Adrian                                         YY
Adrianna                                       YN
Aeris                                           Y
Afina                                           N
Africa                                          Y
Africano                                        N
                              ...
Zena Susi                                       N
Zephyr                                          Y
Zeppelin                                       NY
Zeppo                                           N
Zero                                            Y
Zeta                                            Y
Zeus            YYYYYYYYYYNYYNYYYYYYNYYYYYYYYYNYY
Ziegen                                          Y
Ziggy                                    YYYYYNYY
Zila                                            Y
Zilkie                                          Y
Zilla                                           Y
Zimm                                            Y
Zion                                           YY
Zip                                           NNY
Zippee                                          N
Zipper                                         YY
Ziva                                            Y
Ziven                                           Y
Zoe                              NYYYYYNYYNYYYYYY
Zoey                   YYYNYYYYYNYYYYNYYNYYYYYYYY
Zooey                                        YYNY
Zorrito                                         Y
Zorro                                       NYYNY
Zu Zu                                           Y
Zues                                           YY
Zuko                                            N
Zulu                                            N
Zuzu                                            Y
Zz                                              Y
Name: Adopted, dtype: object

In [18]:
dogs.pivot(index='Name', values='Adopted')

ValueError: cannot label index with a null key