In [3]:
import scipy as sp
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [66]:
train = pd.read_csv('csv_files/train.csv')
train = train.drop(labels=['OutcomeSubtype', 'DateTime', 'AnimalID'], axis=1)

In [81]:
train['Adopted'] = ''

for rowcount in train.index:
    if train.OutcomeType[rowcount] == 'Return_to_owner' or train.OutcomeType[rowcount] == 'Adoption':
        train['Adopted'][rowcount] = 'Y'
    else:
        train['Adopted'][rowcount] = 'N'

In [83]:
dogs = train[train.AnimalType == 'Dog']
dogs = dogs.dropna(subset=['Name'])
cats = train[train.AnimalType == 'Cat']
cats = cats.dropna(subset=['Name'])

In [105]:
dog_split_by_yes_no = pd.DataFrame(dogs.groupby('Adopted').Name.value_counts())

In [117]:
dog_split_by_yes_no

                      0
Adopted Name
N       Bella        28
        Max          25
        Charlie      22
        Rocky        22
        Princess     20
        Jack         16
        Buddy        15
        Daisy        14
        Lucy         13
        Lady         12
        Rosie        12
        Blackie      11
        Bruno        11
        Molly        11
        Oreo         11
        Sadie        11
        Shadow       11
        Chico        10
        Coco         10
        Cookie       10
        Diamond      10
        Lola         10
        Blue          9
        Brownie       9
        Lucky         9
        Oso           9
        Toby          9
        Bear          8
        Fiona         8
        Honey         8
...                  ..
Y       You           1
        Yoyo          1
        Yugi          1
        Yuki Kisses   1
        Yummie        1
        Z             1
        Zack          1
        Zafira        1
        Zahrah        1
        Zapp          1
        Zaza Zula     1
        Zazu          1
        Zeak          1
        Zee           1
        Zephyr        1
        Zeppelin      1
        Zero          1
        Zeta          1
        Ziegen        1
        Zila          1
        Zilkie        1
        Zilla         1
        Zimm          1
        Zip           1
        Ziva          1
        Ziven         1
        Zorrito       1
        Zu Zu         1
        Zuzu          1
        Zz            1

[5746 rows x 1 columns]