In [53]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
%matplotlib inline

In [54]:
animal_shelter = pd.read_csv('csv_files/train.csv')

train['Adopted'] = ''

for rowcount in train.index:
    if train.OutcomeType[rowcount] == 'Return_to_owner' or train.OutcomeType[rowcount] == 'Adoption':
        train['Adopted'][rowcount] = 'Y'
    else:
        train['Adopted'][rowcount] = 'N'

y_n_dummies = pd.get_dummies(train.Adopted)

animal_shelter = animal_shelter.join(y_n_dummies)
animal_shelter = animal_shelter.drop(labels=['Adopted'], axis=1)

In [55]:
dogs = animal_shelter[animal_shelter.AnimalType == 'Dog']
dogs = dogs.dropna(subset=['Name', 'OutcomeType'])
cats = animal_shelter[animal_shelter.AnimalType == 'Cat']
cats = cats.dropna(subset=['Name', 'OutcomeType'])

dogs_adopted_based_on_name = pd.pivot_table(dogs, index='Name', values=['Y', 'N'], aggfunc='sum')
dogs_adopted_based_on_name['Total'] = dogs_adopted_based_on_name.Y + dogs_adopted_based_on_name.N
dogs_adopted_based_on_name['Y_percent'] = dogs_adopted_based_on_name.Y/dogs_adopted_based_on_name.Total
dogs_adopted_based_on_name['N_percent'] = dogs_adopted_based_on_name.N/dogs_adopted_based_on_name.Total
dogs_adopted_based_on_name = dogs_adopted_based_on_name.drop(labels=['Y', 'N', 'Total'], axis=1)
plt.figure(figsize=(20,500))
sns.heatmap(dogs_adopted_based_on_name)

cats_adopted_based_on_name = pd.pivot_table(cats, index='Name', values=['Y', 'N'], aggfunc='sum')
cats_adopted_based_on_name['Total'] = cats_adopted_based_on_name.Y + cats_adopted_based_on_name.N
cats_adopted_based_on_name['Ypercent'] = cats_adopted_based_on_name.Y/cats_adopted_based_on_name.Total
cats_adopted_based_on_name['Npercent'] = cats_adopted_based_on_name.N/cats_adopted_based_on_name.Total
cats_adopted_based_on_name = cats_adopted_based_on_name.drop(labels=['Y', 'N', 'Total'], axis=1)
plt.figure(figsize=(20,500))
sns.heatmap(cats_adopted_based_on_name)

In [56]:
animal_shelter = animal_shelter.dropna(subset=['Name', 'OutcomeType'])

In [57]:
np_animal_shelter_name = np.array(animal_shelter.drop(labels=['AnimalID', 'DateTime', 'OutcomeType', 'OutcomeSubtype', 'AnimalType', 'SexuponOutcome', 'AgeuponOutcome', 'Breed', 'Color'], axis=1))

In [58]:
np_animal_shelter_outcome = np.array(animal_shelter.drop(labels=['AnimalID', 'Name', 'DateTime', 'OutcomeSubtype', 'AnimalType', 'SexuponOutcome', 'AgeuponOutcome', 'Breed', 'Color'], axis=1))

In [59]:
np_animal_shelter_name.T

array([['Hambone', 'Emily', 'Pearce', ..., 'Green Bean', 'Zeus', 'Zeus']], dtype=object)

In [12]:
animal_shelter_names = pd.DataFrame(animal_shelter.Name.value_counts())

In [13]:
dog_names = pd.DataFrame(dogs.Name.value_counts())

In [14]:
cat_names = pd.DataFrame(cats.Name.value_counts())

In [17]:
animal_shelter_names[animal_shelter_names.Name != 1]

             Name
Max           136
Bella         135
Charlie       107
Daisy         106
Lucy           94
Buddy          87
Princess       86
Rocky          85
Luna           68
Jack           66
Lola           61
Sadie          58
Shadow         57
Molly          57
Coco           55
Maggie         55
Chico          54
Lily           53
Oreo           53
Blue           52
Lucky          51
Toby           50
Cookie         48
Ginger         48
Lady           47
Sam            46
Duke           45
Oliver         44
Sophie         44
Milo           44
...           ...
Izabella        2
Frito           2
Merry           2
Friskey         2
Mira            2
Royce           2
Amador          2
Rodeo           2
Mcgregor        2
Frijolito       2
Tullia          2
Stan            2
Sullivan        2
Hollywood       2
Wednesday       2
Rigby           2
Betty Boop      2
Elijah          2
Joni            2
Dax             2
B.J.            2
Tiger Lilly     2
Crixus          2
Ren             2
Odette          2
Stumpy          2
Laura           2
Tuxedo Mask     2
Kujo            2
Herc            2

[2383 rows x 1 columns]